.App{
  display: flex;
}

.box{
  border: 1px solid red;
}

.sidebar{
  height: 100vh;
  width: 20vw;
}

.main{
  height: 80vh;
}

.navbar{
  height: 20vh;
}

.section2{
  border: 1px solid green;
  height: 100vh;
  width: 80vw;
}